a:active, /* активная/посещенная ссылка */
a:hover, /* при наведении */
a {
    text-decoration: none;
    color: #3D3D3D;
}

input {
    border: 1px solid #fff;
    padding: 12px;
    font-family: 'CeraPro-Regular', sans-serif;
    font-size: 14px;
    color: #ACACAC;
}

input::placeholder {
    color: #ACACAC;
    font-family: 'CeraPro-Regular', sans-serif;
    font-size: 14px;
}

ul {
    list-style-type: none;
    padding: 0;
}

input:active,
input:hover,
input:focus {
    outline: 0;
    outline-offset: 0;
}

textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    resize: none;
}

p {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    padding: 0;
}

.bottom {
    height: 50px;
    background-color: transparent;
}

@font-face {
    font-family: 'CeraPro-Black';
    src: url('@/assets/fonts/CeraPro-Black.ttf') format('truetype');
    font-weight: 900;
    font-variant: normal;
}

@font-face {
    font-family: 'CeraPro-Bold';
    src: url('@/assets/fonts/CeraPro-Bold.ttf') format('truetype');
    font-weight: 700;
    font-variant: normal;
}

@font-face {
    font-family: 'CeraPro-Medium';
    src: url('@/assets/fonts/CeraPro-Medium.ttf') format('truetype');
    font-weight: 500;
    font-variant: normal;
}

@font-face {
    font-family: 'CeraPro-Regular';
    src: url('@/assets/fonts/CeraPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-variant: normal;
}

@font-face {
    font-family: 'CeraPro-Bold';
    src: url('@/assets/fonts/CeraPro-Light.ttf') format('truetype');
    font-weight: 300;
    font-variant: normal;
}

@font-face {
    font-family: 'CeraPro-Thin';
    src: url('@/assets/fonts/CeraPro-Thin.ttf') format('truetype');
    font-weight: 100;
    font-variant: normal;
}
